@using Application.DTO
@model CargoDTO;

<div class="d-flex justify-content-center align-items-center mid-height centered-container">

    <form asp-action="Atualizar" method="post" class="form-horizontal">
        <partial name="Partials/TitleLabel"></partial>

        <div class="col-5 mb-3">
            <label asp-for="Codigo" class="form-label"></label>
            <input asp-for="Codigo" readonly="readonly" disabled="disabled" class="form-control" />
            <input hidden="hidden" asp-for="Codigo" />
        </div>

        <div class="col-12 mb-5">
            <div class="col-12 mb-3">
                <label asp-for="Descricao" class="form-label"></label>
                <input asp-for="Descricao" class="form-control" />
            </div>

            <div>
                <label class="form-label">Departamentos</label>
                <div>
                    <select asp-for="DepartamentoCodigo" id="departamentoCodigo" class="form-control" asp-items="@ViewBag.Departamentos">
                        <option value="@ViewBag.CodigoDoDepartamentoRelacionado">Selecione um departamento</option>
                    </select>
                    <span asp-validation-for="DepartamentoCodigo" class="text-danger"></span>
                </div>
            </div>
        </div>

        <partial name="Partials/Buttons/BtnSubmitAtualizar"></partial>
    </form>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#departamentoCodigo").select2();
        });
    </script>
}