
@model CargoDTO;

<div class="d-flex justify-content-center align-items-center mid-height centered-container">
    <form asp-action="Cadastrar" method="post">
        <partial name="Partials/TitleLabel"></partial>

        <div class="col-5 mb-3">
            <label asp-for="Codigo" class="form-label"></label>
            <input asp-for="Codigo" class="form-control" />
            <span asp-validation-for="Codigo" class="text-danger"></span>
        </div>

        <div class="col-6 mb-5">
            <div class="col-12 mb-3">
                <label asp-for="Descricao" class="form-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div>
                <label class="form-label">Departamentos</label>
                <div>
                    <select asp-for="DepartamentoCodigo" id="departamentoCodigo" class="form-select" asp-items="@ViewBag.Departamentos">
                        <option value="">Selecione um departamento</option>
                    </select>
                    <span asp-validation-for="DepartamentoCodigo" class="text-danger"></span>
                </div>
            </div>
        </div>

        <partial name="Partials/Buttons/BtnSubmitCadastrar"></partial>
    </form>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#departamentoCodigo").select2();
        });
    </script>
}