<div class="jumbotron">
    <h1>Personal Tracking Dashboard</h1>
    <p class="lead">Here is your main dashboard</p>
</div>
<div class="row">
    <div class="col-md-4">
        <fieldset class="shadow-lg border-2" style="border: groove;">
            <legend style="margin: 3px 1px 16px 7px;"> Department Module</legend>
            @Html.ActionLink("Acess here...", "Index", "DepartmentView", null, new { @style = "margin: 2px 1px 16px 15px;", @class = "btn btn-primary" })
            @*<p style=""><a class="btn btn-primary" href="~/Views/DepartmentView/Index.cshtml">Acess here... &raquo;</a></p>*@
        </fieldset>
    </div>
</div>
