<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PERSONALTRACKING" connectionString="Data Source=MRJ01-DSK238\SQLEXPRESS;Initial Catalog=PERSONALTRACKING;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>