@using Atron.Domain.ApiEntities;
@model List<ApiRoute>

<h2>Cadastro de Rotas</h2>

<table>
    <thead>
        <tr>
            <th>Módulo</th>
            <th>URL</th>
            <th>Método</th>
            <th>Ativa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model)
        {
            <tr>
                <td>@route.ModuleName</td>
                <td>@route.RouteUrl</td>
                <td>@route.HttpMethod</td>
                <td>@route.IsActive</td>
            </tr>
        }
    </tbody>
</table>
