<h3>Painel Principal</h3>
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fa-solid fa-building display-1"></i>
                    <h5 class="card-title mt-3">Departamentos</h5>
                    <p class="card-text">Gerencie os departamentos da empresa.</p>
                    <a href="@Url.Action("Index", "Departamento")" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fa-solid fa-briefcase display-1"></i>
                    <h5 class="card-title mt-3">Cargos</h5>
                    <p class="card-text">Gerencie os cargos da empresa.</p>
                    <a href="@Url.Action("Index", "Cargo")" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fa-solid fa-users display-1"></i>
                    <h5 class="card-title mt-3">Usuários</h5>
                    <p class="card-text">Gerencie os funcionários da empresa.</p>
                    <a href="@Url.Action("Index", "Usuario")" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fa-solid fa-route display-1"></i>
                    <h5 class="card-title mt-3">Rotas</h5>
                    <p class="card-text">Gerencie as rotas da comunicação com a API do sistema.</p>
                    <a href="@Url.Action("PainelDeRotas", "Home")" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>