@using Atron.Application.DTO;
@using Shared.DTO;
@using Shared.Services;
@using Newtonsoft.Json;
@using Atron.WebViews.Models;
@model SalarioDTO;

<h2 style="margin-bottom: 40px;">@ViewData["Title"]</h2>

<br />
<!-- Contêiner para exibir o formulário de salario -->
<div id="salarioFormContainer">
    <partial name="Partials/Salario/FormularioSalarioPartial" model="@Model"> </partial>
</div>