<form [formGroup]="form" (ngSubmit)="salvar()" class="tarefa-edit-form">
  <c-tarefa-form [tarefaForm]="form"></c-tarefa-form>

  <footer class="tarefa-actions">
    <button mat-flat-button class="tarefa-primary-action" type="submit" [disabled]="form.invalid">
      <mat-icon>save</mat-icon>
      Salvar
    </button>

    <button mat-stroked-button class="tarefa-secondary-action" type="button" (click)="router.navigate(['atron/tarefas'])">
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
  </footer>
</form>
