<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <partial name="Partials/BtnPainel"></partial>
            <a asp-action="Cadastrar" class="btn btn-outline-success">
                <span title="Cadastrar novo" class="fas fa-plus"></span> Cadastrar novo
            </a>
        </div>
    </div>
</div>
<br />