<footer class="footer">

    <h2>Beta</h2>
    <p>&copy; 2025 - Atron Tracker Manager</p>
    <p>Desenvolvido por E. Queiroz</p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/eduardoqueirozdev/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Queiroz-Dv"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.facebook.com/eduardoqueirooz"><i class="fa-brands fa-facebook"></i></a>
    </div>

</footer>