@model SalarioDTO;

@{
	var actionPage = ViewData["ActionPage"];
}

<form id="formSalario" asp-action="@actionPage" method="post">

	<input hidden type="text" value="@actionPage" id="actionPage" />
	<input asp-for="Id" value="@Model.Id" type="text" id="tarefaId" hidden="hidden" />

	<!--Informações de usuário-->
	<fieldset>
		<legend>Informações do Usuário</legend>
		<div class="row mb-4 mt-5">
			<div class="col-md-3">
				<label asp-for="UsuarioCodigo" class="form-label">Usuário</label>
				<input asp-for="UsuarioCodigo" type="text" class="form-control" disabled />
				<input asp-for="UsuarioCodigo" hidden="hidden" />
			</div>
			<div class="col-md-5">
				<label asp-for="CargoDescricao" class="form-label">Cargo</label>
				<input asp-for="CargoDescricao" type="text" class="form-control" disabled />
			</div>
			<div class="col-md-4">
				<label asp-for="DepartamentoDescricao" class="form-label">Departamento</label>
				<input asp-for="DepartamentoDescricao" type="text" class="form-control" disabled />
			</div>
		</div>
	</fieldset>
	<hr />

	<fieldset>
		<legend>Informar novo salário</legend>
		<div class="mb-4 mt-5">
			<label asp-for="SalarioMensal" class="form-label">Salário</label>
			<input asp-for="SalarioMensal" class="form-control" />
			<span asp-validation-for="SalarioMensal" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Ano" class="form-label">Ano</label>
			<input asp-for="Ano" type="text" class="form-control" />
			<span asp-validation-for="Ano" class="text-danger"></span>
		</div>
		<div row>
			<div class="col-4">
				<label asp-for="MesId" class="form-label">Mês</label>
				<select asp-for="MesId" class="form-control" asp-items="@ViewBag.Meses">
					<option value="">Selecione o mês</option>
				</select>
				<span asp-validation-for="MesId" class="text-danger"></span>
			</div>
		</div>
		<br />
	</fieldset>

	@if (actionPage.Equals("Cadastrar"))
	{
		<partial name="Partials/Buttons/BtnSubmitCadastrar"></partial>
	}
	else
	{
		<partial name="Partials/Buttons/BtnSubmitAtualizar"></partial>
	}
</form>