@using Atron.Application.DTO
@using System;
@model SalarioDTO

@{
	var actionPage = ViewData["ActionPage"];
}

<form id="formSalario" asp-action="@actionPage" method="post" class="form-horizontal">
	<input hidden type="text" value="@actionPage" id="actionPage" />
	<!--Informações de usuário-->
	<fieldset>
		<legend class="fw-semibold">Informações do Usuário</legend>
		<div class="row">
			<div class="col">
				<label asp-for="Usuario.Codigo" class="form-label">Código do Usuário</label>
				<input asp-for="Usuario.Codigo" type="text" aria-label="@Model.UsuarioCodigo" class="form-control" disabled />
				<input asp-for="UsuarioCodigo" hidden="hidden" />
			</div>
			<div class="col">
				<label asp-for="Usuario.Cargo.Descricao" class="form-label">Cargo</label>
				<input asp-for="Usuario.Cargo.Descricao" type="text" class="form-control" disabled />
			</div>
			<div class="col">
				<label asp-for="Usuario.Departamento.Descricao" class="form-label">Departamento</label>
				<input asp-for="Usuario.Departamento.Descricao" type="text" class="form-control" disabled />
			</div>
		</div>
	</fieldset>
	<hr />
	<!--Informações da tarefa-->
	<fieldset>
		<legend class="fw-semibold">Informar novo salário</legend>
		<div class="mb-4">
			<label asp-for="SalarioMensal" class="form-label">Salário</label>
			<input asp-for="SalarioMensal" type="number" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Ano" class="form-label">Ano</label>
			<input asp-for="Ano" type="text" class="form-control" />
		</div>
		<div row>
			<div class="col-4">
				<label asp-for="MesId" class="form-label">Mês</label>
				<select asp-for="MesId" class="form-control" asp-items="@ViewBag.Meses">
					<option value="">Selecione o mês</option>
				</select>
				<span asp-validation-for="MesId" class="text-danger"></span>
			</div>
		</div>
		<br />
	</fieldset>

	<div class="form-group row">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-success" value="Salvar" />
			<a asp-action="Index" class="btn btn-dark">Painel</a>
		</div>
	</div>
</form>
