<div class="row">
    <div class="d-flex pull-left">
        <div class="me-3">
            <partial name="Partials/Buttons/BtnPainel"></partial>
        </div>
        <div>
            <a asp-action="Cadastrar" class="btn btn-outline-success">
                <span title="Cadastrar novo" class="fas fa-plus"></span> Cadastrar
            </a>
        </div>
    </div>
</div>
<br />