<div class="form-group">
    <div class="col-12">
        <input type="submit" value="Atualizar" class="btn btn-outline-primary me-2"/>
        <partial name="Partials/Buttons/BtnMenuPrincipal"></partial>
    </div>
</div>