<div class="form-group">
    <div class="col-12">
        <input type="submit" value="Cadastrar" class="btn btn-outline-success me-2" />
        <partial name="Partials/Buttons/BtnMenuPrincipal"></partial>
    </div>
</div>