<div class="form-group">
    <div class="col-12">
        <input type="submit" value="Cadastrar" class="btn btn-success" style="margin-right: 11px;" />
        <partial name="Partials/Buttons/BtnMenuPrincipal"></partial>
    </div>
</div>