@model TarefaDTO;

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <partial name="Partials/TitleLabel"></partial>
            <div class="mb-4">
                <label asp-for="UsuarioCodigo" class="form-label">Usuários</label>
                <select asp-for="UsuarioCodigo" id="usuarioCodigo"
                        class="form-control" asp-items="@ViewBag.Usuarios">
                    <option value="">Selecione um usuário</option>
                </select>
                <span asp-validation-for="UsuarioCodigo" class="text-danger"></span>
            </div>


            <div id="tarefaFormContainer">
                <partial name="Partials/Tarefa/FormularioTarefa" model="new TarefaDTO()"> </partial>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="module" src="/js/views/cadastrarTarefa.js"></script>
}