@using Atron.Application.DTO;
@using Shared.DTO;
@using Shared.Services;
@using Newtonsoft.Json;
@using Atron.WebViews.Models;
@model UsuarioDTO;

<h2 style="margin-bottom: 40px;">@ViewData["Title"]</h2>
<form id="usuarioForm" asp-action="Cadastrar" method="post" class="form-horizontal">
    <div class="form-group row">
        <label asp-for="Codigo" class="col-md-2 col-control-label font-weight-bold"></label>
        <div class="col-md-5 mb-3">
            <input asp-for="Codigo" class="form-control" />
            <span asp-validation-for="Codigo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Nome" class="col-md-2 col-form-label font-weight-bold"></label>
        <div class="col-md-7 mb-3">
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Sobrenome" class="col-md-2 col-form-label font-weight-bold"></label>
        <div class="col-md-7 mb-3">
            <input asp-for="Sobrenome" class="form-control" />
            <span asp-validation-for="Sobrenome" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Salario" class="col-md-2 col-form-label font-weight-bold"></label>
        <div class="col-md-7 mb-3">
            <input asp-for="Salario" class="form-control" />
            <span asp-validation-for="Salario" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="DataNascimento" class="col-md-2 col-form-label font-weight-bold">Data de nascimento</label>
        <div class="col-md-7 mb-3">
            <input asp-for="DataNascimento" type="date" class="form-control" />
            <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="DepartamentoCodigo" class="col-md-2 col-form-label font-weight-bold">Departamentos</label>
        <div class="col-md-7 mb-3" id="departamentoSelectContainer">
            <select asp-for="DepartamentoCodigo" id="departamentoCodigo"
                    class="form-control" asp-items="@ViewBag.Departamentos">
                <option value="">Selecione um departamento</option>
            </select>
            <span asp-validation-for="DepartamentoCodigo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="CargoCodigo" class="col-md-2 col-form-label font-weight-bold">Cargos</label>
        <div class="col-md-7 mb-3" id="cargoSelectContainer">
            <select asp-for="CargoCodigo" id="cargoCodigo" class="form-control" asp-items="@ViewBag.Cargos">
                <option value="">Selecione um cargo</option>
            </select>
            <span asp-validation-for="CargoCodigo" class="text-danger"></span>
        </div>
    </div> 

    <div class="form-group row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cadastrar" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-dark">Painel</a>
        </div>
    </div>
</form>

@section Scripts {
    <script type="module" src="/js/views/cadastrarUsuario.js"></script>
}
