@model TarefaDTO;

@{
    var actionPage = ViewData["ActionPage"];
}

@if (actionPage.Equals("Cadastrar"))
{
    <div class="row">
        <div class="col-md-6">
            <label asp-for="DataInicial" class="form-label">Data Inicial</label>
            <input asp-for="DataInicial" id="dataInicial" class="form-control" type="date" value="@Model.DataInicial" />
        </div>
        <div class="col-md-6">
            <label asp-for="DataFinal" class="form-label">Data Final</label>
            <input asp-for="DataFinal" id="dataFinal" class="form-control" type="date" value="@Model.DataInicial" />
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <label asp-for="DataInicial" class="form-label">Data Inicial</label>
            <input asp-for="DataInicial" id="dataInicial" class="form-control" type="date" />
        </div>
        <div class="col-md-6">
            <label asp-for="DataFinal" class="form-label">Data Final</label>
            <input asp-for="DataFinal" id="dataFinal" class="form-control" type="date" />
        </div>
    </div>

}