@using Atron.Application.DTO
@using System;
@model TarefaDTO

<form id="formTarefa" asp-action="Cadastrar" method="post" class="form-horizontal">
    <!--Informações de usuário-->
    <fieldset>
        <legend class="fw-semibold">Informações do Usuário</legend>

        <div class="row">
            <div class="col">
                <label asp-for="Usuario.Codigo" class="form-label">Código do Usuário</label>
                <input asp-for="Usuario.Codigo" type="text" aria-label="@Model.UsuarioCodigo" class="form-control" disabled />
            </div>
            <div class="col">
                <label asp-for="Usuario.Cargo.Descricao" class="form-label">Cargo</label>
                <input asp-for="Usuario.Cargo.Descricao" type="text" class="form-control" disabled />
            </div>
            <div class="col">
                <label asp-for="Usuario.Departamento.Descricao" class="form-label">Departamento</label>
                <input asp-for="Usuario.Departamento.Descricao" type="text" class="form-control" disabled />
            </div>
        </div>
    </fieldset>
    <hr />
    <!--Informações da tarefa-->
    <fieldset>
        <legend class="fw-semibold">Nova Tarefa</legend>
        <div class="mb-4">
            <label asp-for="Titulo" class="form-label">Título</label>
            <input asp-for="Titulo" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Conteudo" class="form-label">Descrição</label>
            <textarea asp-for="Conteudo" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="DataInicial" class="form-label">Data Inicial</label>
            <input asp-for="DataInicial" class="form-control" type="date" value="@DateTime.Now" />
        </div>
        <div class="mb-3">
            <label asp-for="DataFinal" class="form-label">Data Final</label>
            <input asp-for="DataFinal" class="form-control" type="date" />
        </div>
        <div class="mb-3">
            <label asp-for="EstadoDaTarefa" class="form-label">Estado</label>
            <select asp-for="EstadoDaTarefa" class="form-control">
                <option value="0">Pendente</option>
                <option value="1">Em Andamento</option>
                <option value="2">Concluída</option>
            </select>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-success">Salvar Tarefa</button>
</form>
